.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  &r__margin > ul :not(:last-of-type) {
    margin-right: 30px;
  }
}
