.work {
  margin-bottom: 94px;
  
&__picture {
  position: relative;
  display: flex;}

&__overlay {
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  color: var(--white-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  padding-top: 27px;
}}
